server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    Hikari:
      data-source-properties:
        prepareThreshold: 0
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
        boot:
          allow_jdbc_metadata_access: false
        JDBC:
          use_streams_for_binary: false



    servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB


  app:
    backend-url: https://carrentalbackend-h8b3.onrender.com


Cloudinary:
  cloud_name: ${CLOUDINARY_CLOUD_NAME}
  api_key: ${CLOUDINARY_API_KEY}
  api_secret: ${CLOUDINARY_API_SECRET}

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 86400000

logging:
  level:
    com.sangraj.carrental.config.JwtAuthFilter: INFO
    org.springframework.security: INFO
