server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  spring:
    mail:
      host: smtp-relay.brevo.com
      port: 587
      username: 9ed8b1001@smtp-brevo.com
      password: ${BREVO_SMTP_KEY}
      properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true

  app:
    backend-url: https://carrentalbackend-h8b3.onrender.com


cloudinary:
  cloud_name: ${CLOUDINARY_CLOUD_NAME}
  api_key: ${CLOUDINARY_API_KEY}
  api_secret: ${CLOUDINARY_API_SECRET}

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 86400000

logging:
  level:
    com.sangraj.carrental.config.JwtAuthFilter: INFO
    org.springframework.security: INFO
